{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
  <meta charset="utf-8">
  <title>TechnoStart-20</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'images/technostart.ico' %}" rel="icon">
  <link href="{% static 'images/technostart.png' %}" rel="technostart-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <style>
    p,
    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    address {
      font-family: 'Open Sans', sans-serif;
    }

/*    .nav-pills .nav-link:not(.active) {
      background-color: white;
      color: #666666;
    }

    .nav-pills>.nav-link:active {
      background-color: red !important;
      color: whitesmoke;
    }*/
  </style>
</head>

<body>

  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <!-- <h1><a href="#intro" class="scrollto">TechnoStart 2020</a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="#"><img style="width: 50%;" src="{% static 'images/logo.png' %}" alt="" title="TechnoStart-2020" /></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro"><i class="fa fa-home">&nbsp;</i>Home</a></li>
          <li class="menu-has-children"><a href="#portfolio"><i class="fa fa-bullhorn">&nbsp;</i>Events</a>
            <!-- <ul>
              <li><a href="#">Technical</a></li>
              <li><a href="#">Non-Technical</a></li>
            </ul> -->
          </li>
          <li><a href="#updates"><i class="fa fa-bell">&nbsp;</i>Updates</a></li>
          <li><a href="#about"><i class="fa fa-book">&nbsp;</i>Schedule</a></li>
          <li><a href="#contact"><i class="fa fa-phone">&nbsp;</i>Contact</a></li>

          {% if user.is_authenticated %}
          <li><a href="#test"><i class="fa fa-pencil">&nbsp;</i>Test</a></li>
          <li><a href="#"><i class="fa fa-user">&nbsp;</i>{{ user|upper }}</a>
            <ul>
              <li><a href="#"><i class="fa fa-user-circle">&nbsp;</i>Profile</a></li>
              <li><a href="#" data-toggle="modal" data-target="#logoutModal"><i class="fa fa-unlock">&nbsp;</i>Logout</a></li>
            </ul>
          </li>

          {% else %}
          <li><a href="{% url 'login'%}" ><i class="fa fa-lock">&nbsp;</i>Login</a></li>
          {% endif %}
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="{% static 'images/intro-carousel/bg1.jpg' %}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 style="font-family: 'Open Sans', sans-serif;">TechnoStart-2020</h2>
                <!-- <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                  placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem
                  quibusdam et aut officiis debitis aut.</p> -->
                <a href="#portfolio" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static 'images/intro-carousel/bg4.jpg' %}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>TechnoStart-2020</h2>
                <!-- <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                  placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem
                  quibusdam et aut officiis debitis aut.</p> -->
                <a href="#portfolio" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static 'images/intro-carousel/bg3.jpg' %}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>TechnoStart-2020</h2>
                <!-- <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                  placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem
                  quibusdam et aut officiis debitis aut.</p> -->
                <a href="#portfolio" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static 'images/intro-carousel/bg5.jpg' %}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>TechnoStart-2020</h2>
                <!-- <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                  placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem
                  quibusdam et aut officiis debitis aut.</p> -->
                <a href="#portfolio" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static 'images/intro-carousel/bg6.jpg' %}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>TechnoStart-2020</h2>
                <!-- <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                  placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem
                  quibusdam et aut officiis debitis aut.</p> -->
                <a href="#portfolio" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->



  <main id="main">
    <!--==========================
      Events Section
    ============================-->
    <section id="portfolio" class="section-bg">
      <div class="container">


          {% if tech_events or non_tech_events %}
          <header class="section-header">
            <h3 class="section-title">Events</h3>
          </header>

          <div class="row">
            <div class="col-lg-12">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">Technical</li>
                <li data-filter=".filter-web">Non-Technical</li>
                <!-- <li data-filter=".filter-card">Card</li> -->
              </ul>
            </div>
          </div>
          <div class="row portfolio-container">
            {% for event in tech_events %}
              <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
                <div class="portfolio-wrap">
                  <figure class="figure" data-toggle="modal" data-target="#event_{{ event.id }}">
                    <img src="{{ event.cover.url }}" class="img-fluid" alt="">
                  </figure>

                  <div class="portfolio-info">
                    <h4><a href="#" data-toggle="modal" data-target="#event_{{ event.id }}">{{ event.title|upper }}</a></h4>
                    <p>{{ event.category|upper }}</p>
                  </div>
                </div>
              </div>
              <!-- #event_desc Model-->

              <!-- Modal -->
              <div class="modal fade modal-auto" id="event_{{ event.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-center" id="exampleModalCenterTitle">{{ event.title|upper }}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <!-- ====== -->

                      <div class="container">
                        <!-- Nav tabs -->
                        <ul class="nav nav-pills justify-content-center">
                          <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#description">Description</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#rules">Rules</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#organizers">Organizers</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#winners">Winners</a>
                          </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                          <div id="description" class="container tab-pane active"><br>
                            <p>{{ event.description }}</p>
                          </div>
                          <div id="rules" class="container tab-pane fade"><br>
                            <p>{{ event.rules }}</p>
                          </div>
                          <div id="organizers" class="container tab-pane fade"><br>
                            <p>{{ event.organizers }}</p>
                          </div>
                          <div id="Winners" class="container tab-pane fade"><br>
                            <p>{{ event.winners }}</p>
                          </div>
                        </div>
                      </div>

                      <!-- ===== -->
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      {% if user.is_authenticated %}
                        {% if event.title in reg_events %}
                          <button type="button" class="btn btn-success" disabled="true">Registered!</button>
                        {% else %}
                          <a href="{% url 'eventRegister' event.id %}" class="btn btn-primary">Do Register</a>
                        {% endif %}
                      {% else %}
                        <a href="{% url 'login' %}" class="btn btn-warning">Login Required</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <!-- #end event model -->
            {% endfor %}
            {% for event in non_tech_events %}
              <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-wrap">
                  <figure class="figure" data-toggle="modal" data-target="#event_{{ event.id }}">
                    <img src="{{ event.cover.url }}" class="img-fluid" alt="">
                  </figure>

                  <div class="portfolio-info">
                    <h4><a href="#" data-toggle="modal" data-target="#event_{{ event.id }}">{{ event.title|upper }}</a></h4>
                    <p>{{ event.category|upper }}</p>
                  </div>
                </div>
              </div>
              <!-- #event_desc Model-->

              <!-- Modal -->
              <div class="modal fade modal-auto" id="event_{{ event.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-center" id="exampleModalCenterTitle">{{ event.title|upper }}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <!-- ====== -->

                      <div class="container">
                        <!-- Nav tabs -->
                        <ul class="nav nav-pills justify-content-center">
                          <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#description">Description</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#rules">Rules</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#organizers">Organizers</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#winners">Winners</a>
                          </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                          <div id="description" class="container tab-pane active"><br>
                            <p>{{ event.description }}</p>
                          </div>
                          <div id="rules" class="container tab-pane fade"><br>
                            <p>{{ event.rules }}</p>
                          </div>
                          <div id="organizers" class="container tab-pane fade"><br>
                            <p>{{ event.organizers }}</p>
                          </div>
                          <div id="winners" class="container tab-pane fade"><br>
                            <p>{{ event.winners }}</p>
                          </div>
                        </div>
                      </div>

                      <!-- ===== -->
                    </div>
                    <div class="modal-footer" >
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      {% if user.is_authenticated %}
                        {% if event.title in reg_events %}
                          <button type="button" class="btn btn-success" disabled="true">Registered!</button>
                        {% elif event.no_of_participants > 1 %}
                          <button type="button" data-dismiss="modal" class="btn btn-primary" data-toggle="modal" data-target="#addingTeam">Add & Register</button>

                        {% else %}
                          <a href="{% url 'eventRegister' event.id %}" class="btn btn-primary">Do Register</a>
                        {% endif %}
                      {% else %}
                        <a href="{% url 'login' %}" class="btn btn-warning">Login Required</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <!-- #end event model -->
              <!--addingTeam Model -->

              <!-- Modal -->
              <div class="modal fade modal-auto" id="addingTeam" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-center" id="exampleModalCenterTitle">{{ event.title|upper }} Team Registration </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <div class="modal-body">
                      <form method="POST">
                        {% csrf_token %}
                        {% for i in "x"|rjust:event.no_of_participants %}
                          <div class="form-group">
                              <label>Team Member-{{forloop.counter}}</label>
                              <input type="text" name="user_{{forloop.counter}}" class="form-control"placeholder="Enter ID No">
                          </div>

                        {% endfor %}
                      </form>
                    </div>

                    <div class="modal-footer" >
                      <a href="{% url 'eventRegisterMany' event.id event.no_of_participants %}" class="btn btn-primary">Register</a>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

               <!--End addingTeam Model -->
            {% endfor %}
          {% endif %}


        </div>
      </div>
    </section>


    <!-- #events -->

    <!--==========================
      Update/Notification panel section
    ============================-->
    <section id="updates">
      <div class="container">
        <header class="section-header">
          <h3>Updates</h3>
        </header>
        <div class="table-responsive">
          <table class="table table-stripped table-bordered">
            <thead class="table-dark text-center">
              <tr>
                <td>S.No</td>
                <td>Notice Title </td>
                <td>Date&Time</td>
                <td>About</td>
              </tr>
            </thead>
            <tbody>
              {% if notices %}

                {% for notice in notices %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td><a href="#" data-toggle="modal" data-target="#notice_{{ notice.id }}">{{ notice.title }}</a></td>
                  <td>{{ notice.date_created }}</td>
                  <td>{{ notice.about }}</td>
                </tr>
                <!-- Modal -->
                <div class="modal fade modal-auto" id="notice_{{notice.id}}" tabindex="-1" role="dialog" aria-labelledby="notification_model"
                  aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ notice.title }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>{{ notice.body }}</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}

              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </section>


    <!-- #Updates/Notification -->

    <!--==========================
      Schedule Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>Schedule</h3>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="img/about-mission.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Today's Date</a></h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="img/about-plan.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Tomorrow's Date</a></h2>
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="img/about-vision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Next Day's date</a></h2>
              <p>
                Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni dolores eos qui ratione
                voluptatem sequi nesciunt Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #schedule -->

     {% if user.is_authenticated %}
    <!--==========================
      Test table section
    ============================-->
    <section id="test">
      <div class="container">
        <header class="section-header">
          <h3>Test</h3>
        </header>
        <div class="table-responsive">
          <table class="table table-stripped table-bordered">
            <thead class="table-dark text-center">
              <tr>
                <td>S.No</td>
                <td>Msg Subject </td>
                <td>Date & Time</td>
                <td>About</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td><a href="#">File to download</a></td>
                <td>Today's date and present time</td>
                <td>Testing the updates tables</td>
              </tr>
              <tr>
                <td>2</td>
                <td><a href="#">File to download</a></td>
                <td>Today's date and present time</td>
                <td>Testing the updates tables</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <!-- #Test -->
    {% endif %}

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>Contact Us</h3>
          <p>For any queries</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Venue</h3>
              <address>First Floor, AB-2, RGUKT-NUZ</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p>96181******</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p>technostart@rguktn.ac.in</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->



    <!-- #login Model-->

    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button> -->

    <!-- Modal -->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog model-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Welcome</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST">
              {% csrf_token %}
              {{ form|crispy }}
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
          </form>
        </div>
      </div>
    </div>
    <!-- #end login model -->
<!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
          </div>
        </div>
      </div>
    </div>


  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>CSE dept</strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">Team TechnoStart</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
  <script src="{% static 'lib/touchSwipe/jquery.touchSwipe.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <!-- <script src="contactform/contactform.js"></script> -->

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>



  </body>

</html>
