{% extends 'base.html' %}

{% block content %}
<div class="container">

    <!-- Outer Row  -->
    <div class="row justify-content-center my-5">

        <div class="col-xl-5 col-lg-12 col-md-9">

            <div class="card shadow-lg border-0">
                <h2>You are logged Out!</h2>
                <div class="bottom-top pt-3">
                    <small class="text-muted">
                        Login Again? <a href="{% url 'login'%}">LogIn</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}